$body-bg:#6699cc;
.current{
	color: green;
}
header{
	*{
		padding:1em;
	}
	color:white;
	background: black;
	h1 {
		padding:0;
		color: green;
		 p{
			 font-size: .75em;
			 margin-before:.03em;
		 }
	}
	nav{
		ul{
			li{
				margin:1em !important;
				font-size: 2em;
				a{
					color:white;
					text-decoration:none;
				}
			}
		}
	}
}
#posts > .post{
	background: white;
}
